doctype html

html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
        title Document
    body
        header 
            h1 Home
        main
            div#online
                ul
            div#welcome
                form 
                    input(placeholder="romm name" required type='text')
                    button Enter Room
            div#nickname
                form 
                    input(placeholder="nickname" required type='text')
                    button Submit
                    
            div#room        
                h3 
                ul
                small
                form 
                    input(placeholder="message" required type='text')
                    button Send
        script(src="http://localhost:3000/socket.io/socket.io.js")
        script(src='/public/front/app.js')
        